/* General */
body 
{
	font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
	font-size: 16px;
	margin: 1%;
}
/*
@media screen and (min-width: 300px) {
	    body {
	        font-size: 20px;
	    }
}
@media screen and (min-width: 600px) {
	    body {
	        font-size: 24px;
	    }
}
@media screen and (min-width: 1200px) {
	    body {
	        font-size: 28px;
	    }
}
@media screen and (min-width: 1600px) {
	    body {
	        font-size: 32px;
	    }
}
*/

/* HTML */
p 
{
	margin: 0px;
}
ul
{
	margin: 0px;
	padding-inline-start: 20px; /* Default browser value, you can change this */
}
li
{
	margin: 0px;*
	padding-inline-start: 20px; /* Default browser value, you can change this */
  	clear: both; 
}

/* Images */
img
{
	max-width: 100%;
	height: auto;
}
.thumbs img
{
	float: left;
	max-width: 100%;
	height: auto;	
}

/* IBM */
.TXT {
    clear: both;
    .thumbs img {
    	max-height: 150px;
    	}
}

/* Logo */
.fix_img
{
    	position:fixed; 
    	bottom:1%; 
    	right:1%; 
    	max-width:30%;
    	max-height:30%;
}
/* Print */
@media print 
{
  	body {
	font-size: 16px;
  	}
  	img
	{	
	max-width: 45%;
	max-height: 45%;
	}
  	.thumbs img {
    	max-height: 150px;
    	}
	.fix
	{
    	width:10%;
	}
}