body 
{
	font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
	font-size: 36px;
}
p 
{
	margin: 0px;
}
ul
{
	margin: 0px;
}
li
{
	margin: 0px;
}
img
{	
	max-width: 90%;
}
.fix
{
    position:fixed;
    bottom:5%;
    right:5%;
    width:15%;
}		
