body 
{
	font-family: 'Tangerine', serif;
	font-size: 36px;
}
p 
{
	margin: 0px;
}
ul
{
	margin: 0px;
}
li
{
	margin: 0px;
}
.fix
{
    position:fixed;
    bottom:5%;
    right:5%;
    width:15%;
}		
