    <meta charset="UTF-8">
	<meta name="description" content="Cory Arcangel's Website. Last updated {{ site.time | date: '%d/%m/%y' }}">
	<meta name="keywords" content="Cory Arcangel, art, stupid, tricks, Super Mario, Fucked, Runners, Rodeo, Screenagers">
	<meta name="author" content="Cory Arcangel">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ site.url }}/coryarcangel.css"> 
	<link rel="icon" type="image/x-icon" href="{{ site.url }}/favicon.ico">
	