<!-- <img src="{{ site.url }}/assets/GOLD-www.png" class="fix_img"/> <a href="{{ site.url }}"><div class="fix_txt">¯\_(ツ)_/¯</div></a> -->

<style>
  #product-component-1749714993011 {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
  }
</style>

<div id='product-component-1749714993011'></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'ensjz1-da.myshopify.com',
      storefrontAccessToken: 'b9bd764ff97579a727692f8fd1bf13c1',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: '14694242713970',
        node: document.getElementById('product-component-1749714993011'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px"
        }
      },
      "title": {
        "font-family": "Times New Roman, serif",
        "font-weight": "normal"
      },
      "button": {
        "font-family": "Times New Roman, serif",
        "font-size": "17px",
        "padding-top": "16.5px",
        "padding-bottom": "16.5px",
        "color": "#000000",
        ":hover": {
          "color": "#000000",
          "background-color": "#e663cc"
        },
        "background-color": "#ff6ee3",
        ":focus": {
          "background-color": "#e663cc"
        },
        "border-radius": "0px",
        "padding-left": "28px",
        "padding-right": "28px"
      },
      "quantityInput": {
        "font-size": "17px",
        "padding-top": "16.5px",
        "padding-bottom": "16.5px"
      },
      "price": {
        "font-family": "Times New Roman, serif"
      },
      "compareAt": {
        "font-family": "Times New Roman, serif"
      },
      "unitPrice": {
        "font-family": "Times New Roman, serif"
      }
    },
    "buttonDestination": "checkout",
    "text": {
      "button": "Buy now"
    }
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "Times New Roman, serif",
        "font-size": "17px",
        "padding-top": "16.5px",
        "padding-bottom": "16.5px",
        "color": "#000000",
        ":hover": {
          "color": "#000000",
          "background-color": "#e663cc"
        },
        "background-color": "#ff6ee3",
        ":focus": {
          "background-color": "#e663cc"
        },
        "border-radius": "0px",
        "padding-left": "28px",
        "padding-right": "28px"
      },
      "quantityInput": {
        "font-size": "17px",
        "padding-top": "16.5px",
        "padding-bottom": "16.5px"
      },
      "title": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "bold",
        "font-size": "26px",
        "color": "#4c4c4c"
      },
      "price": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "18px",
        "color": "#4c4c4c"
      },
      "compareAt": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      },
      "unitPrice": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      }
    },
    "text": {
      "button": "Add to cart"
    }
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Times New Roman, serif"
      },
      "select": {
        "font-family": "Times New Roman, serif"
      }
    }
  },
  "cart": {
    "styles": {
      "button": {
        "font-family": "Times New Roman, serif",
        "font-size": "17px",
        "padding-top": "16.5px",
        "padding-bottom": "16.5px",
        "color": "#000000",
        ":hover": {
          "color": "#000000",
          "background-color": "#e663cc"
        },
        "background-color": "#ff6ee3",
        ":focus": {
          "background-color": "#e663cc"
        },
        "border-radius": "0px"
      }
    },
    "text": {
      "total": "Subtotal",
      "button": "Checkout"
    },
    "popup": false
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Times New Roman, serif",
        "background-color": "#ff6ee3",
        ":hover": {
          "background-color": "#e663cc"
        },
        ":focus": {
          "background-color": "#e663cc"
        }
      },
      "count": {
        "font-size": "17px",
        "color": "#000000",
        ":hover": {
          "color": "#000000"
        }
      },
      "iconPath": {
        "fill": "#000000"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script>