---
layout: 252627
---
<!doctype html>
<html>
  <head>
  	<meta name="description" content="Cory Arcangel 252627. Last updated {{ site.time | date: '%d/%m/%y' }}. ">
	<meta name="keywords" content="Cory Arcangel, art, stupid, tricks, Super Mario, Fucked, Runners, Rodeo, Screenagers">
{% include meta.html %}
{% include css.html %}
    <title>{{ page.title }}</title>
  </head>
  <body>
	Cory Arcangel
    {{ content }}
	<!-- <a href="{{ site.url }}"> -->
	<a href="IBM-1.pdf">
	<img src="{{ site.url }}/assets/print-icon.svg" class="print"/>
	</a>
	©
  </body>
</html>