---
layout: csv
---
<!doctype html>
<html>
  <head>
  	<link rel="stylesheet" href="{{ site.url }}/coryarcangel-print.css"> 
	<div id="content">
 	 <!-- The contents of your book -->
 	 {{ content }}
	</div>
	<script src="https://unpkg.com/bindery@2.3.6/dist/bindery.min.js"></script>
	<script>
  Bindery.makeBook({
    content: '#content',
    rules: [
        Bindery.RunningHeader(),
        
        Bindery.PageBreak({ selector: 'h1', position: 'before', continue: 'left' }),
        Bindery.PageBreak({ selector: 'h2', position: 'before', continue: 'right' }),
        Bindery.PageBreak({ selector: '.tootall', position: 'avoid' }),

		Bindery.FullBleedPage({ selector: '.fullpage', continue: 'next' }),
        Bindery.FullBleedPage({ selector: '.inward', continue: 'next', rotate: 'inward' }),
        Bindery.FullBleedPage({ selector: '.outward', continue: 'next', rotate: 'outward' }),
        Bindery.FullBleedPage({ selector: '.full-clockwise', continue: 'next', rotate: 'clockwise' }),
        Bindery.FullBleedPage({ selector: '.full-counterclockwise', continue: 'next', rotate: 'counterclockwise' }),

        Bindery.FullBleedSpread({ selector: '.spread', continue: 'next' }),
        Bindery.FullBleedSpread({ selector: '.tall-clockwise', continue: 'next', rotate: 'clockwise' }),
        Bindery.FullBleedSpread({ selector: '.tall-counterclockwise', continue: 'next', rotate: 'counterclockwise' }),
    ],
  }); 
</script>
    <body>  
	</body>
</html>

