---
layout: shows
---
<!doctype html>
<html>
  <head>
	{% include meta.html %}
    <title>{{ page.title }}</title>
  </head>
  <body>
	Cory Arcangel
	<br>
	<a href="../shows/">↩ Shows</a> 
  	{% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}"><</a>
  	{% endif %}
  	{% if page.next.url %}
    <a class="next" href="{{page.next.url}}">></a>
  	{% endif %}	
	<br>
    <b>Venue: </b>{{ page.venue }}
    <br>
    <b>City: </b>{{ page.state_country }}
	<br>
    <b>Title: </b>{{ page.title }}
    <br>
    <b>Year: </b>{{ page.year }}
    <br>
	{% if page.pitch != ""  %}
	<b>ps: </b>{{ page.pitch }}
	<br>
	{% endif %}	
	{% if page.ps != ""  %}
	ps - {{ page.ps }}
	<br>
	{% endif %}	
	
	{% if page.live_url != ""  %}
	<b>Url: </b><a href="{{ page.live_url }}">{{ page.live_url }}↪</a>
	<br>
	{% endif %}	
	
	{% assign things_list = site.data.thingsXshows | where:"ee_id_show",page.ee_id_show %}
	{% if things_list.size != 0 %}
	<b>Things ↴️</b>
	<ul>
		{% for things in things_list %}
			{% assign inv_num_things = site.data.things | where:"inv_num",things.inv_num | sort: "year" | reverse %}
			{% for inv_num_things_current in inv_num_things %}		
			<li>
      		<a href="../things-i-made/{{ inv_num_things_current.url }}">
      		{{ inv_num_things_current.title }}, {{ inv_num_things_current.year }}
      		</a>
 			</li>		
			{% endfor %}	
		{% endfor %}
	{% endif %}	
	</ul>	
		
	{% assign images = page.imgs | split: ',' %}
	{% for image in images %}
  	<img src="../assets/imgs/{{ image }}">
  	<br>
	{% endfor %}
	{% include puke.html %}
	©
  </body>
</html>
