---
layout: things-i-made
---
<!doctype html>
<html>
  <head>
	{% include meta.html %}
    <title>{{ page.title }}</title>
  </head>
  <body>
	Cory Arcangel
	<br>
	<a href="../things-i-made/">↩ Things I Made</a>  
  	{% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}"><</a>
  	{% endif %}
  	{% if page.next.url %}
    <a class="next" href="{{page.next.url}}">></a>
  	{% endif %}
	<br>
    {{ page.title }}
    <br>
    {{ page.year }}
    <br>
	{% if page.medium %}
	medium: {{ page.medium }}
	<br>
	{% endif %}	
	{% if page.dims %}
	dims: {{ page.dims }}
	<br>
	{% endif %}	
	{% if page.pitch %}
	elevator pitch: {{ page.pitch }}
	<br>
	{% endif %}		
	{% if page.ps %}
	ps: {{ page.ps }}
	<br>
	{% endif %}		
	{% if page.commission %}
	commission: {{ page.commission }}
	<br>
	{% endif %}		
	{% if page.add_credit %}
	w/ {{ page.add_credit }}
	<br>
	{% endif %}			
	{% if page.live_url %}
	<a href="{{ page.live_url }}">{{ page.live_url }}</a>
	<br>
	{% endif %}	
	{% if page.download %}
	<a href="../downloads/{{ page.download }}">{{ page.download }}</a>
	<br>
	{% endif %}	
	{% if page.youtube %}
	<a href="{{ page.youtube }}">{{ page.youtube }}</a>
	<br>
	{% endif %}	
	{% if page.related_code %}
	<a href="{{ page.related_code }}">{{ page.related_code }}</a>
	<br>
	{% endif %}	
	{% if page.imgs %}
	{% assign images = page.imgs | split: ',' %}
	{% for image in images %}
  	<img src="../assets/imgs/{{ image }}">
	{% endfor %}
	{% else %}	
	<img src="../assets/x.svg" width=1080>
	{% endif %}	
	<br>
	{% include puke.html %}
	©
  </body>
</html>
