---
layout: things-i-made
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <style>
      body 
      {
        font-family: 'Tangerine', serif;
        font-size: 36px;
      }
      p 
      {
		margin: 0px;
		}
	.fix
	{
    position:fixed;
    bottom:5%;
    right:5%;
    width:15%;
	}		
	 </style>
  </head>
  <body>
    {{ page.title }}
    <br>
    
    {{ page.year }}
	<br>
	
	{{ page.medium }}
	<br>

	{% if page.pitch %}
	{{ page.pitch }}
	<br>
	{% endif %}		

	{% if page.dpsims %}
	ps: {{ page.ps }}
	<br>
	{% endif %}		

	{% if page.commission %}
	{{ page.commission }}
	<br>
	{% endif %}		

	{% if page.add_credit %}
	{{ page.add_credit }}
	<br>
	{% endif %}		

	{% if page.dims %}
	{{ page.dims }}
	<br>
	{% endif %}		

	{% if page.live_url %}
	<a href="{{ page.live_url }}">{{ page.live_url }}</a>
	<br>
	{% endif %}	

	{% if page.download %}
	{{ page.download }}
	<br>
	{% endif %}	
	
	{% if page.youtube %}
	{{ page.youtube }}
	{% endif %}	




	{% assign images = page.imgs | newline_to_br | split: '<br />' %}
	{% for image in images %}
  	<img src="{{ site.url }}/assets/imgs/{{ image }}">
	{% endfor %}
	

	
	{% include puke.html %}
  </body>
</html>
